.product-display__image-wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  max-width: 400px;
  max-height: 400px;
  aspect-ratio: 1 / 1;

  > .product-display__image {
    display: inline-block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
  }
}

.product-display__container--page,
.product-display__container--admin {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  margin: 0 auto;
  column-gap: 3rem;
  padding: 2rem 0;

  header.product-display__header > h2 {
    font-size: 3rem;
  }

  .product-display__image-wrapper img {
    max-width: 100%;
  }

  .product-display__section--product-info {
    width: max-content;
    overflow: clip;
    align-self: center;
  }

  .product-display__header {
    color: var(--color-brand2);
    margin-bottom: var(--margin-paragraph);
  }

  .product-display__product-info--origin {
    margin-bottom: var(--margin-section-min);
  }

  .product-display__product-info--description {
    white-space: pre-line;
    max-width: 42ch;
    margin-bottom: var(--margin-section-min);
    line-height: 1.3;
  }

  .product-display__product-info--amount {
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--color-brand2);
  }

  .product-display__product-info--package-type,
  .product-display__product-info--package-size {
    font-weight: 500;
  }
}

.product-display__container--card {
  all: unset;

  .product-display__image-wrapper {
    margin: unset;
    background: var(--color-surface1);
    width: var(--width-card-content);
    height: var(--width-card-content);
    border-radius: var(--border-radius-min);
  }

  .product-display__section--product-info {
    display: flex;
    flex-direction: column;
  }

  .product-display__header {
    color: var(--color-brand2);
    margin: 0.5rem 0 0.25rem;

    > h2 {
      font-size: 1.4rem;
    }
  }

  .product-display__product-info--origin {
    font-size: 1rem;
  }

  .product-display__product-info--price {
    margin: 1rem 0;
  }

  .product-display__product-info--amount {
    color: var(--color-frame);
    font-size: 1.2rem;
    font-weight: 600;
  }

  .product-display__product-info--papckage-type {
    font-family: var(--font-utility);
    color: var(--color-frame-dark);
    font-size: 1rem;
  }
}

.product-display__container--admin {
  width: 100%;
  min-height: 20rem;
  margin: 10px;
  border: var(--border-light);
  border-radius: var(--border-radius-min);
  padding: 30px;
  margin-top: var(--margin-section-mid)
}

.content__intro--display {
  width: 100%;
}
