:root {
  /*colours*/
  --color-brand1: oklch(0.76789 0.1488 72.14);
  --color-brand1-light: oklch(0.9524 0.277 68.18);
  --color-brand2: oklch(0.4106 0.1654 21.81);
  --color-brand2-light: oklch(0.4927 0.2398 21.82);
  --color-frame: oklch(0.3142 0.0189 254.83);
  --color-frame-dark: oklch(0.1571 0.0189 254.79);
  --color-frame-med: oklch(0.4713 0.0189 254.79);
  --color-frame-light: oklch(0.7855 0.0189 254.79);
  --color-surface1: oklab(1.0000 0.0000 0.00);
  --color-surface2: oklch(0.9829 0.0481 75.75);

  /*fonts*/
  --font-heading: "Baloo 2";
  --font-utility: "Montserrat";

  /* important patterns */
  --header-height: 142px;

  --margin-card: 10px;
  --margin-paragraph: 0.5rem;
  --margin-section-min: 1.5rem;
  --margin-section-mid: 2rem;
  --margin-section-max: 2.5rem;

  --width-sidebar: 25ch;
  --width-pr-image-lg: 500px;
  --width-pr-image-sm: 200px;
  --width-content-section: 66ch;
  --width-card: 200px;
  --width-card-content: calc(var(--width-card) - (2 * var(--margin-card)));

  --shadow-page: var(--color-frame-dark) 0px 0px 5px 1px;
  --shadow-button-active: var(--color-frame-med) 0px 0px 1px;
  --shadow-button: var(--color-frame-dark) 1px 1px 2px;
  --shadow-inset: var(--color-frame-light) inset 1px 1px 5px;

  --border-radius-max: 50px;
  --border-radius-min: 10px;

  --border-round-L: 50px 0 0 50px;
  --border-round-R: 0 50px 50px 0;

  --border: solid var(--color-frame-med) 1px;
  --border-strong: solid var(--color-frame-med) 2px;
  --border-light: solid var(--color-frame-light) 1px;
  --border-brand2: solid var(--color-brand2) 1px;
  --border-brand2-strong: solid var(--color-brand2) 2px;
}

* {
  margin: 0;
  box-sizing: border-box;
  line-height: 1.3;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

body {
  color: var(--color-frame-dark);
  background: var(--color-surface2);
  font-family: var(--font-utility);
  font-size: 16px;
}

html,
body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  line-height: 1;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

p + p {
  margin: 1rem 0 0;
}

.site-wrapper {
  display: block;
  padding-top: var(--header-height);
  min-height: 100vh;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 100;
}

main {
  display: grid;
  grid-template-columns: var(--width-sidebar) 1fr;
  grid-template-areas: "sidebar content";
  min-height: calc(100vh - var(--header-height));
  width: 100%;
}

.sidebar,
.content {
  min-height: 0;
}

.sidebar {
  max-width: var(--width-sidebar);
  grid-area: sidebar;
  position: sticky;
  top: var(--header-height);
  align-self: start;
  height: calc(100vh - var(--header-height));
  overflow: hidden;
}

.content {
  width: 100%;
  grid-area: content;
  isolation: isolate;
  padding-bottom: 2rem;
}

.propagation-suppressor {
  display: contents;
}

.toaster__options {
  min-width: 300px !important;
  background: #2b323b !important;
  color: #fff !important;
  box-shadow:#00000060 4px 4px 10px, #00000050 0px 0px 20px, #00000010 0px 0px 0px 1px !important;
}

article.product-card:focus-visible,
a:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible,
button:focus-visible {
  outline: none;
  box-shadow: 0 0 10px 2px color-mix(in srgb, var(--color-brand2-light), transparent 20%);
  transition: box-shadow 0.2s ease-in-out;
}