:root {
  /*colours*/
  --clr-brand: hsl(36, 84%, 56%);
  --clr-pop: hsl(348, 100%, 28%);
  --clr-pop-lt: hsl(348, 100%, 50%);
  --clr-frame-lt: hsl(214, 16%, 20%);
  --clr-frame-dk: hsl(214, 16%, 8%);
  --clr-base: hsl(36, 84%, 94%);
  --clr-util-lt: #ffffff;
  --clr-util-dk: #000000;

  /*fonts*/
  --font-brand: "Fugaz One";
  --font-heading: "Epilogue";
  --font-utility: "Avenir Next";

  /* common patterns */
  --wd-card: 200px;
  --pd-card-ext: 10px;
  --wd-card-img: calc(var(--wd-card) - (2 * var(--pd-card-ext)));
  --shadow-pg: #333 0px 0px 5px 1px;
  --shadow-btn: #333 2px 2px 3px 1px;
  --shadow-btn-act: #333 1px 1px 2px 1px;
  --border: solid #aaa 1px;

  /* tables */
}

/* TODO: Delete outline colours before finalizing */
.blue {
  border: solid blue;
}

.purple {
  border: solid purple;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  line-height: 1;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

body {
  background: var(--clr-base);
  font-family: var(--font-utility);
  color: var(--clr-util-dk);
  font-size: 16px;
}
