:root {
  /*colours*/
  --clr-brand1: lch(72.27% 68.17 74);
  --clr-brand1-lt: oklch(
    from var(--clr-brand1) calc(l * 1.25) calc(c * 1.9) calc(h * 0.9)
  );
  --clr-brand2: hsl(348, 100%, 28%);
  --clr-brand2-lt: oklch(from var(--clr-brand2) calc(l * 1.2) calc(c * 1.45) h);
  --clr-frame: hsl(214, 16%, 20%);
  --clr-frame-dk: oklch(from var(--clr-frame) calc(l * 0.5) c h);
  --clr-frame-md: oklch(from var(--clr-frame) calc(l * 1.5) c h);
  --clr-frame-lt: oklch(from var(--clr-frame) calc(l * 2.5) c h);
  --clr-surface1: #fff;
  --clr-surface2: oklch(from var(--clr-brand1) calc(l * 1.29) calc(c * 0.33) h);

  /*fonts*/
  --font-heading: "Baloo 2";
  --font-utility: "Montserrat";

  /* important patterns */
  --header-height: 142px;
  --margin-card: 10px;
  --margin-para: 0.5rem;
  --margin-sec-mn: 1.5rem;
  --margin-sec-md: 2rem;
  --margin-sec-mx: 2.5rem;

  --wd-sidebar: 25ch;
  --wd-pr-image-lg: 500px;
  --wd-pr-image-sm: 200px;
  --wd-content-sec: 66ch;
  --wd-card: 200px;
  --wd-card-content: calc(var(--wd-card) - (2 * var(--margin-card)));

  --shadow-page: var(--clr-frame-dk) 0px 0px 5px 1px;
  --shadow-btn: var(--clr-frame-dk) 2px 2px 3px 1px;
  --shadow-btn-active: var(--clr-frame-md) 1px 1px 1px 1px;
  --shadow-btn-qa: var(--clr-frame-md) 0px 0px 2px;
  --shadow-inset: var(--clr-frame-lt) inset 1px 1px 5px;


  --border-rad-max: 50px;
  --border-rad-min: 10px;

  --border-round-L: 50px 0 0 50px;
  --border-round-R: 0 50px 50px 0;

  --border: solid var(--clr-frame-md) 1px;
  --border-strong: solid var(--clr-frame-md) 2px;
  --border-light: solid var(--clr-frame-lt) 1px;
  --border-brand2: solid var(--clr-brand2) 1px;
  --border-brand2-strong: solid var(--clr-brand2) 2px;
}

/* TODO: Delete outline colours before finalizing */
.blue {
  border: solid blue;
}

.purple {
  border: solid purple;
}

* {
  margin: 0;
  box-sizing: border-box;
  line-height: 1.3;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

body {
  color: var(--clr-frame-dk);
  background: var(--clr-surface2);
  font-family: var(--font-utility);
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  line-height: 1;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

p + p {
  margin: 1rem 0 0;
}

.button--text {
  border: none;
  background: none;
  font-size: 1rem;
  cursor: pointer;
  color: var(--clr-brand2);
  font-weight: 500;
  transition: all 0.2s ease-out;

  &:hover {
    color: var(--clr-brand2-lt);
    text-decoration: underline;
  }
}

.click-suppressor {
  display: contents;
}
