form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  row-gap: 0.4rem;
  padding-bottom: 2rem;
}

form :is(input, button, select) {
  margin: auto;
  width: 15rem;
  padding: 10px;
  border-radius: 50px;
}

form :is(input, select) {
  border: none;
  background-color: var(--clr-base);
  box-shadow: inset #000000a0 1px 1px 2px;

  &:focus-visible {
    box-shadow: inset #000000a0 1px 1px 2px,
      0 0 2px 3px color-mix(in srgb, var(--clr-pop-lt), transparent 30%);
  }
}

form > button {
  display: flex;
  background-color: var(--clr-brand);
  padding: 10px 20px;

  &:active {
    transform: translateY(2px);
  }

  &:focus-visible {
    box-shadow: 0 0 2px 3px color-mix(in srgb, var(--clr-pop-lt), transparent 30%);
  }
}
