form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  row-gap: 0.4rem;
  padding-bottom: 2rem;
}

form :is(input, button) {
  font-size: 1rem;
  margin: auto;
  width: 35ch;
  padding: 10px;
  border-radius: 50px;
}

form input {
  border: none;
  background-color: var(--clr-base);
  box-shadow: inset #000000a0 1px 1px 2px;
}

form input:focus-visible {
  box-shadow: inset #000000a0 1px 1px 2px,
    0 0 2px 3px color-mix(in srgb, var(--clr-pop-lt), transparent 30%);
}

form > button {
  background-color: var(--clr-brand);
  border: none;
  padding: 10px 20px;
  box-shadow: 0 3px #c28c00, 0 2px #ffd966 inset;
  cursor: pointer;
  transition: all 0.2s ease;
}

form > button:active {
  transform: translateY(2px);
  box-shadow: 0 1px #c28c00;
}

form > button:focus-visible {
  box-shadow: 0 3px #c28c00, 0 2px #ffd966 inset,
    0 0 2px 3px color-mix(in srgb, var(--clr-pop-lt), transparent 30%);
}
