form {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding-bottom: 2rem;
}

form :is(input, button, select) {
  margin: auto;
  width: 15rem;
  padding: 8px 20px;
  border-radius: var(--border-rad-max);
}

form :is(input, select) {
  border: none;
  background: var(--clr-surface2);
  box-shadow: inset #000000a0 1px 1px 2px;
}

form > button {
  display: flex;
  background: var(--clr-brand1);
  font-weight: 600;
  padding: 10px 20px;

  &:active {
    transform: translateY(2px);
  }
}

.input-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-bottom: 1rem;
}

.input-wrapper::after {
  position: absolute;
  content: attr(data-error);
  color: var(--clr-brand2);
  font-size: 0.9rem;
  display: inline-block;
  margin-top: 0.8rem;
  margin-left: 1rem;
  white-space: nowrap;
}
