.item-grid {
  display: grid;
  background-color: #fff;
  width: 100%;
  grid-template-columns: repeat(auto-fill, var(--wd-card));
  row-gap: 25px;
  column-gap: 20px;
  justify-content: center;
  padding: 0 2rem;
}

.product-card {
  display: block;
  overflow: clip;
  background-color: #fff;
  width: var(--wd-card);
  height: 100%;
  border-radius: 10px;
  padding: var(--pd-card-ext);
}

.product-card .img-wrapper-sq {
  background-color: #fff;
  width: var(--wd-card-img);
  height: var(--wd-card-img);
}

.product-card .info {
  display: block;
}

.product-card hgroup {
  margin: 15px 0px;
}

.product-card hgroup > h2 {
  font-size: 1.1rem;
}

.product-card .price > * {
  display: inline-block;
}

.product-card .price > span:first-child {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--clr-pop);
}

.product-card hgroup > p,
.product-card .price > span:nth-child(2) {
  font-family: var(--font-utility);
  font-size: 0.85rem;
  color: var(--clr-util-dk);
  line-height: 1.1;
}

.product-card .price > span:nth-child(3) {
  font-size: 0.6rem;
}
