/* home.css */

.sort-filter div {
  width: fit-content;
  margin: 2rem auto;
}

.sort-filter ul {
  display: block;
  list-style: none;
  width: fit-content;
}

.sort-filter li {
  display: block;
  width: fit-content;
  padding: 2px 4px;
  text-transform: capitalize;
}

.sort-filter li.active {
  font-weight: 600;
  background: var(--clr-brand);
  transition: all 0.2s ease-out;
}

.item-grid {
  display: grid;
  background-color: #fff;
  width: 100%;
  grid-template-columns: repeat(auto-fill, var(--wd-card));
  row-gap: 25px;
  column-gap: 20px;
  justify-content: center;
  padding: 0 2rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  overflow: clip;
  width: var(--wd-card);
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  padding: var(--pd-card-ext);
  box-shadow: #00000020 0px 0px 10px, #00000010 0px 0px 0px 1px;
  transition: box-shadow ease 0.15s, transform ease 0.15s;

  &:hover {
    box-shadow: #00000040 3px 3px 10px, #00000020 0px 0px 0px 1px;
    transform: scale(1.04);
  }
}

.product-card .img-wrapper-sq {
  background-color: #fff;
  width: var(--wd-card-img);
  height: var(--wd-card-img);
  border-radius: 8px;
}

.product-card .info {
  display: block;
}

.product-card hgroup {
  margin: 15px 0px;
}

.product-card hgroup > h2 {
  font-size: 1.1rem;
}

.product-card .price {
  margin-bottom: 1rem;
}

.product-card .price > * {
  display: inline-block;
}

.product-card .price > span:first-child {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--clr-pop);
}

.product-card hgroup > p,
.product-card .price > span:nth-child(2) {
  font-family: var(--font-utility);
  font-size: 0.85rem;
  color: var(--clr-util-dk);
  line-height: 1.1;
}

.product-card .price > span:nth-child(3) {
  font-size: 0.6rem;
}

.product-card .cart-mgmt {
  display: flex;
  bottom: 0;
  align-items: center;
  border-radius: 50px;
  border: solid 1px var(--clr-pop);
  background-color: var(--clr-brand);
  color: #000;
  margin-top: auto;
  padding: 3px;
  cursor: default;
}

.product-card .cart-mgmt button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;

  &.add {
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--clr-pop);
    height: 1.5rem;
    width: 100%;
    margin: 0px auto;
    text-align: center;

    &:hover {
      transform: unset;
      filter: unset;
    }
  }

  &:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
  }

  &:active {
    transform: scale(0.9);
  }
}

.product-card .cart-mgmt span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  height: 1.5rem;
  width: 4ch;
  text-align: center;
  font-size: 0.9rem;
  background-color: #fff;
  box-shadow: inset 1px 1px 5px #ccc, 0 0 1px var(--clr-pop);
}
