/* home.css */

.sort-filter div {
  width: fit-content;
  margin: 1.5rem auto;
}

.sort-filter ul {
  display: block;
  list-style: none;
  width: fit-content;
}

.sort-filter li {
  display: block;
  width: fit-content;
  padding: 2px 4px;
  text-transform: capitalize;
}

.sort-filter li.active {
  font-weight: 600;
  background: var(--clr-brand);
  transition: all 0.2s ease-out;
}

.product-grid {
  display: grid;
  background-color: #fff;
  width: 100%;
  grid-template-columns: repeat(auto-fill, var(--wd-card));
  row-gap: 1.5rem;
  column-gap: 2rem;
  justify-content: center;
  padding: 1.5rem 1.75rem 1.5rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  overflow: clip;
  width: var(--wd-card);
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  padding: var(--pd-card-ext);
  box-shadow: #00000020 0px 0px 10px, #00000010 0px 0px 0px 1px;
  transition: box-shadow ease 0.15s, transform ease 0.15s;

  &:hover {
    box-shadow: #00000060 4px 4px 10px, #00000050 0px 0px 20px, #00000010 0px 0px 0px 1px;
    transform: scale(1.04);
  }
}

.product-card .heading-group {
  margin: 0.75rem 0 1.5rem;

  & h2 {
    font-size: 1.1rem;
  }
}

.product-card .img-wrapper-sq {
  background-color: #fff;
  width: var(--wd-card-img);
  height: var(--wd-card-img);
  border-radius: 8px;
}

.product-card .info {
  display: block;
}

.product-card .price {
  margin-bottom: 1rem;

  & > * {
    display: inline-block;
  }

  & > span:first-child {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--clr-pop);
  }

  & > span:nth-child(2) {
    font-family: var(--font-utility);
    font-size: 0.85rem;
    color: var(--clr-util-dk);
    line-height: 1.1;
  }

  & > span:nth-child(3) {
    font-size: 0.6rem;
  }
}

.product-card .basket-management {
  display: flex;
  bottom: 0;
  justify-content: center;
  border-radius: 50px;
  border: solid 1px var(--clr-pop);
  background-color: var(--clr-brand);
  margin-top: auto;
  padding: 3px;
  cursor: default;
}

.product-card .basket-management button {
  display: flex;
  justify-content: center;
  border-radius: 50px;

  &:only-of-type {
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--clr-pop);
    height: 1.5rem;
    width: 100%;
    margin: auto;

    & > * {
      margin: 1ch;
    }

    &:hover {
      transform: unset;
      filter: unset;
    }
  }

  &:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
  }

  &:active {
    transform: scale(0.9);
  }
}

.product-card .basket-management span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  height: 1.5rem;
  width: 4ch;
  text-align: center;
  font-size: 0.9rem;
  background-color: #fff;
  box-shadow: inset 1px 1px 5px #ccc, 0 0 1px var(--clr-pop);
}
