/* info-table.css */

.info-table .label {
  color: var(--clr-pop);
  font-weight: 600;
}

.info-table .row {
  display: grid;
  grid-template-columns: 14ch auto;
  padding: 0.3rem 0;
}

.info-table .address p:first-of-type {
  margin-bottom: 0.3rem;
}

.info-table .label {
  font-weight: 600;
}

.info-table .data {
  white-space: pre;
}
