main.split-page > * {
  display: block;
  padding-top: 1.5rem;
}

.side-bar {
  padding: 0 1.5rem;
}

.side-bar .heading {
  width: 100%;
  text-align: center;
  border-bottom: #888 solid 1px;
  padding-bottom: 0.5rem;
}

.side-bar h1 {
  font-size: 2rem;
  line-height: 1.25;
}

.side-bar h2 {
  font-size: 1.2rem;
  color: var(--clr-pop);
  margin-block-end: 0.5rem;
}

.side-bar div:not(.heading) {
  width: fit-content;
  margin: 2rem auto;
}

.side-bar ul {
  display: block;
  list-style: none;
  width: fit-content;
}

.side-bar li {
  display: block;
  width: fit-content;
  padding: 2px 4px;
  text-transform: capitalize;
}

.side-bar li.active {
  font-weight: 600;
  background: var(--clr-brand);
  transition: all 0.2s ease-out;
}

.main-content {
  display: block;
  background-color: #fff;
}

.main-content > *:not(.item-grid) {
  width: 75%;
  margin: auto;
}

.main-content > *:not(.product-info) h1 {
  margin-bottom: 1.5rem;
}

/* MyCart page */

.cart-grid {
  display: grid;
  grid-template-columns: 1fr 15ch 15ch 15ch;
  align-items: center;
}

.cart-grid > *:nth-child(even).cart-row.items {
  background-color: var(--clr-base);
}

.cart-row {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  border-bottom: solid 1px #ddd;
  padding: auto 0;
  align-items: center;
  column-gap: 20px;
  max-height: 2.5rem;
}

.cart-row.items {
  font-size: 0.95rem;
}

.cart-row.items:hover {
  font-weight: 600;
  color: var(--clr-pop);
  text-decoration: underline;
}

.cart-row.labels,
.cart-row.totals {
  font-size: 1.1rem;
  font-weight: 600;
  height: 2.2rem;
}

.cart-row.labels {
  border-bottom: solid 5px var(--clr-pop);
}

.cart-row.totals {
  color: #fff;
  background-color: var(--clr-pop);
}

.cart-row.items .img-wrapper-sq {
  width: 1.7rem;
  margin: 2px 0px;
}

.cart-row.items .name {
  margin: auto 0px;
}

.cart-row.items .product {
  display: inline-flex;
  gap: 15px;
}

.cart-row .product {
  margin-left: 1rem;
}

.cart-row .money {
  display: flex;
  margin: 0 1rem;
}

.cart-row .money > span:first-child {
  justify-content: flex-end;
  flex: 1 1 auto;
}

.cart-row.labels > :is(.qty, .price, .row-total),
:is(.cart-row.items, .cart-row.totals) > .qty {
  text-align: center;
}

/* product info pages */

article.product-info {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 30px;
}

.product-info .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  overflow: clip;
}

.product-info .desc {
  white-space: pre-wrap;
}

.pricing > .price {
  font-weight: 700;
  font-size: 1.62rem;
  color: var(--clr-pop);
}

.pricing :is(.pkg-desc, .pkg-qty) {
  font-family: var(--font-utility);
  font-size: 1rem;
  font-weight: 600;
  color: var(--clr-util-dk);
}
