main.split-page > * {
  display: block;
  padding-top: 1.5rem;
}

.side-bar {
  padding: 0 1.5rem;
}

.side-bar .heading {
  width: 100%;
  text-align: center;
  border-bottom: #888 solid 1px;
  padding-bottom: 0.5rem;
}

.side-bar h1 {
  font-size: 2rem;
  line-height: 1.25;
}

.side-bar h2 {
  font-size: 1.2rem;
  color: var(--clr-pop);
  margin-block-end: 0.5rem;
}

.main-content {
  display: block;
  background-color: #fff;
}

.main-content > *:not(.item-grid) {
  width: 75%;
  margin: auto;
}

.main-content > *:not(.product-info) h1 {
  margin-bottom: 1.5rem;
}
