main.split-page > * {
  display: block;
}

.sidebar {
  padding: 0 1.5rem;
}

.sidebar .heading {
  width: 100%;
  text-align: center;
  border-bottom: var(--border);
}

.sidebar h1 {
  font-size: 2rem;
  line-height: 1.25;
}

.sidebar h2 {
  text-align: center;
  font-size: 1.2rem;
  color: var(--clr-pop);
  margin-block-end: 0.5rem;
}

.main-info {
  display: block;
  background-color: #fff;
}

.main-info > *:not(.product-grid) {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.submission-info {
  display: flex;
  column-gap: 5rem;
  justify-content: center;
}

.submission-info section {
  flex: 0 1 30%;
  margin-top: unset;
}

.submission-info button {
  margin: unset;
}

.submission-info .input-wrapper {
  text-align: unset;
}

.submission-info a {
  display: block;
  color: var(--clr-pop);
  text-decoration: underline;
  margin-top: 1rem;

  &:hover {
    font-weight: 500;
    filter: brightness(0.8);
  }
}
