#root,
.site-wrapper {
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;
  min-height: 100vh;
  width: 100vw;
}

html,
body {
  height: 100%;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  overflow-x: clip;
}

.header {
  position: sticky;
  top: 0px;
}

main {
  flex: 1 1 auto;
  height: 100%;
}

main.full-page {
  display: block;
}

main.split-page {
  display: grid;
  grid-template-columns: 30ch 1fr;
}

.sidebar {
  display: flex;
  flex: 0 0 200px;
}

.main-info {
  display: flex;
  flex: 0 1 100%;
}
