html,
body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.site-wrapper {
  display: block;
  padding-top: var(--header-height);
  min-height: 100vh;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 100;
}

main {
  display: grid;
  grid-template-columns: var(--wd-sidebar) 1fr;
  grid-template-areas: "sidebar content";
  height: 100%;
  width: 100%;
}

.sidebar,
.content {
  min-height: 0;
}

.sidebar {
  max-width: var(--wd-sidebar);
  grid-area: sidebar;
  position: sticky;
  top: var(--header-height);
  align-self: start;
  height: calc(100vh - var(--header-height));
  overflow: hidden;
}

.content {
  width: 100%;
  grid-area: content;
  isolation: isolate;
  padding-bottom: 2rem;
}
