html,
body {
  height: 100vh;
  width: 100vw;
}

.site-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: var(--wd-sidebar) 1fr;
  grid-template-areas:
    "header header"
    "main main";
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.header {
  grid-area: header;
}

main {
  display: grid;
  grid-area: main;
  grid-template-columns: subgrid;
  grid-template-areas: "sidebar main-content";
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sidebar,
.main-content {
  min-height: 0;
  height: 100%;
}

.sidebar {
  max-width: var(--wd-sidebar);
  grid-area: sidebar;
  overflow: hidden;
}

.main-content {
  max-width: var(--wd-main-content);
  grid-area: main-content;
  overflow-y: auto;
  isolation: isolate;
}
