/* /client/src/css/mapped-table/mapped-table.css */

/* styling for all list tables */

.table--mapped {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-top: var(--border-brand2-strong);
  border-bottom: var(--border-brand2-strong);

  & :is(td, tr) {
    border: none;
  }
}

.table--mapped .table__head {
  border-bottom: var(--border-brand2-strong);
}

.table--mapped .table__row--head {
  font-size: 1.2rem;
  height: 2rem;
}

.table--mapped .table__row--body:nth-child(odd) {
  background: var(--clr-surface2);
}

.table--mapped .table__row--body {
  height: 2rem;

  &:hover {
    cursor: pointer;
  }

  &:hover > .table__cell--name {
    font-weight: 600;
    color: var(--clr-brand2);
    transition: all 0.3s ease;
    text-decoration: underline;
  }

  &:hover .quantity-adjust__button {
    display: flex;
    opacity: 1;
    filter: blur(0);
    transition: all 0.2s ease-out;

    @starting-style {
      opacity: 0;
      filter: blur(3px);
    }
  }
}

.table--mapped .quantity-adjust__container--table {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table--mapped .table__row--body:not(:last-child) {
  border-bottom: var(--border);
}

.table--mapped :is(.table__cell--price, .table__cell--tally, .table__cell--total) {
  text-align: center;
}

.table--mapped .price__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 25%;

  & span:first-child {
    flex: 1 1 100%;
  }

  & span:last-child {
    flex: 0 0 100%;
    text-align: end;
  }
}

/* additional styling for just the product-table variants */

.table--basket .table__row--head > th:first-child {
  text-align: start;
  text-indent: 1ch;
}

.table--basket .table__row--head > th:not(:first-child) {
  text-align: center;
}

.table--basket .table__column--image {
  width: 5%;
}

.table--basket .table__column--name {
  width: 35%;
}

.table--basket :is(.table__column--price, .table__column--total, .table__column--tally) {
  width: 20%;
}

.table--basket .table__column--dump {
  width: 5%;
}

.table--basket .table__cell--image {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table--basket .table__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  margin: auto;
  background: var(--clr-surface1);
}

.table--basket .table__image-wrapper > * {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.table--basket .quantity-adjust__container--table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1ch;
}

.table--basket .quantity-adjust__button {
  display: none;
  z-index: 100;
  color: var(--clr-frame-md);
  opacity: 0;
  filter: blur(3px);
  transition-behavior: allow-discrete;
  transition-property: display opacity filter color;
  transition-duration: 0.3s;

  &:hover {
    color: var(--clr-brand2-lt);
  }

  svg {
    width: 18pt;
    height: 18pt;
  }
}

/* additional styling for just the order-table variants */

.table--order .table__cell {
  width: 25%;
  text-align: center;
}

.table--order .table__cell--status {
  text-transform: capitalize;
}
