.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  color: #fff;
  background: var(--clr-frame-lt);
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-wrap: balance;
  animation: fadeInScale 0.3s ease;

  & .text-container {
    margin-bottom: 2rem;
  }

  & button {
    display: inline;
    width: 6rem;
    height: 2rem;
    background-color: var(--clr-brand);
    border-radius: 50px;

    &:first-child {
      margin: 0 1.5rem 0 auto;
    }

    &:last-child {
      margin: 0 auto 0 1.5rem;
    }

    &:active {
      transform: translateY(2px);
    }
  }
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
