/* my-cart.css */

.cart-grid {
  display: grid;
  grid-template-columns: 1fr 15ch 25ch 15ch 7ch;
  align-items: center;
  margin-bottom: 1.5rem;
}

.cart-grid > *:nth-child(even).cart-row.items {
  background-color: var(--clr-base);
}

.cart-row {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  border-bottom: solid 1px #ddd;
  padding: auto 0;
  align-items: center;
  column-gap: 20px;
}

.cart-row.items {
  font-size: 0.95rem;
}

.cart-row.items:hover {
  font-weight: 600;
  color: var(--clr-pop);
  cursor: pointer;

  & button {
    opacity: 1;
  }
}

.cart-row:is(.labels, .totals) {
  font-size: 1.05rem;
  font-weight: 600;
  height: 2.2rem;
}

.cart-row.labels {
  border-bottom: solid 5px var(--clr-pop);
}

.cart-row.totals {
  color: #fff;
  background-color: var(--clr-pop);
}

.cart-row.items .img-wrapper-sq {
  width: 1.7rem;
  margin: 2px 0px;
}

.cart-row.items .name {
  margin: auto 0px;
}

.cart-row.items .product {
  display: inline-flex;
  gap: 15px;
}

.cart-row .product {
  margin-left: 1rem;
}

.my-cart-wrapper .hidden {
  display: none;
}

.cart-mgmt-qty {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.cart-mgmt-qty .qty {
  width: 4ch;
  & p {
    text-decoration: unset !important;
  }
}

.cart-row button {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;

  &:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
  }

  &:active {
    transform: scale(0.9);
  }

  &.dump {
    width: 18px;
    height: 18px;
    border-radius: 0;
    margin: 0 20px;
  }
}

.cart-row .money {
  display: flex;
  margin: 0 1rem;
}

.cart-row .money > span:first-child {
  justify-content: flex-end;
  flex: 1 1 auto;
}

.cart-row.labels > :is(.qty, .price, .row-total),
:is(.cart-row.items, .cart-row.totals) .qty {
  text-align: center;
}

.cart-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;

  & button {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--clr-pop);
    color: #fff;
    font-weight: 600;
    padding: 10px 0;
    width: 80%;
    border-radius: 50px;
    box-shadow: #000000a0 1px 1px 2px;
    transition: all 0.2s ease-out;

    &:hover {
      filter: brightness(1.2);
    }

    &:active {
      transform: translateY(2px);
    }
  }
}

.my-cart-submit {
  & .heading {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #888;
    margin-bottom: 2rem;
  }

  & h2 {
    margin-bottom: 1rem;
  }

  & h3 {
    color: var(--clr-pop);
    font-size: x-large;
    margin-bottom: 1.5rem;
  }

  & .input-wrapper {
    text-align: start;

    &:has(> input[type="hidden"]) {
      margin: unset;
    }
  }

  & button {
    margin: unset;
  }
}

.my-cart-submit .form-info {
  display: grid;
  grid-template-columns: 1fr 1fr;

  & > * {
    margin: 0 auto;
  }

  a {
    color: var(--clr-pop);
    font-size: 0.95rem;
    font-weight: 500;
    text-decoration: underline;
    transition: all 0.2s ease;

    &:hover {
      font-weight: 600;
      filter: brightness(0.9);
    }
  }
}

.my-cart-submit .user-info {
  & > * {
    margin-bottom: 1.5rem;
  }
  & .label {
    font-size: larger;
    color: #888;
    font-weight: 600;
  }
}
