/* options-sidebar.css */

.options-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}

.sidebar-btn {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--clr-pop);
  color: #fff;
  padding: 10px 0;
  width: 80%;
  border-radius: 50px;
  box-shadow: var(--shadow-btn);
  transition: all 0.2s ease-out;

  &:hover {
    filter: brightness(1.2);
  }

  &:active {
    transform: translateY(2px);
    box-shadow: var(--shadow-btn-act);
  }
}
