.product-page > .basket-management {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}

.product-page .basket-management button {
  display: flex;
  flex: 1 0 2rem;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  background-color: var(--clr-pop);
  border: var(--border);

  &:first-child {
    border-radius: 50px 0 0 50px;
    border-right: unset;
  }

  &:last-child {
    border-radius: 0 50px 50px 0;
    border-left: unset;
  }

  &:hover {
    filter: brightness(1.2);

    &:active {
      transform: scale(0.95);
    }
  }

  &:disabled {
    background-color: #aaa;

    &:hover {
      filter: unset;
      cursor: unset;
    }

    &:active {
      transform: unset;
    }
  }
}

.product-page .basket-management .product-tally {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 2rem;
  font-size: 1.2rem;
  background-color: #fff;
  border-top: var(--border);
  border-bottom: var(--border);
  box-shadow: inset 1px 1px 5px #ccc;
  margin: 0.5rem 0;
}

.product-info {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 30px;
}

.product-info .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  overflow: clip;
}

.product-info .desc {
  white-space: pre-wrap;
}

.product-info .pricing {
  & .price {
    font-weight: 700;
    font-size: 1.62rem;
    color: var(--clr-pop);
  }

  & :is(.pkg-desc, .pkg-qty) {
    font-family: var(--font-utility);
    font-size: 1rem;
    font-weight: 600;
    color: var(--clr-util-dk);
  }
}
