.product-page > .cart-mgmt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  & > .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  & button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    background-color: var(--clr-pop);
    color: #fff;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 50px;
    box-shadow: 1px 1px 2px 1px #888;

    &:hover {
      filter: brightness(1.2);

      &:active {
        transform: scale(0.95);
      }
    }

    &.dump {
      height: 1.5rem;
      width: 4rem;
      border-radius: 0;
    }
  }

  & > .item-count {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 7rem;
    height: 2rem;
    font-size: 1.2rem;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px #ccc, 0 0 1px var(--clr-pop);
    margin: 0.5rem 0;
  }
}

article.product-info {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 30px;
}

.product-info {
  & .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    overflow: clip;
  }

  & .desc {
    white-space: pre-wrap;
  }
}

.pricing {
  & .price {
    font-weight: 700;
    font-size: 1.62rem;
    color: var(--clr-pop);
  }

  & :is(.pkg-desc, .pkg-qty) {
    font-family: var(--font-utility);
    font-size: 1rem;
    font-weight: 600;
    color: var(--clr-util-dk);
  }
}
