.site-header {
  font-family: var(--font-heading);
  box-shadow: var(--shadow-pg);
  z-index: 20;
}

.site-header .upper {
  display: flex;
  position: relative;
  background-color: var(--clr-frame-dk);
  padding: 10px 20px;
}

.header-logo {
  display: flex;
  flex: 1 1 auto;
}

img.header-logo {
  display: inline-block;
}

.header-basket {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
}

@keyframes wrapperIn {
  from {
    filter: blur(50);
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
}

.header-basket .count-wrapper {
  position: relative;
  display: block;
  width: 100%;
  z-index: 50;
  transition: all 0.2s ease-out;
  animation: wrapperIn 0.3s ease-out;

  &:hover {
    filter: brightness(125%) saturate(125%);
    transform: scale(105%);
  }

  &::after {
    display: flex;
    justify-content: center;
    content: attr(data-count);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -25%);
    color: #000;
    font-size: 1rem;
    font-weight: 700;
    pointer-events: none;
  }
}

.basket-img {
  transition: filter 0.2s ease-out;

  .count-wrapper:hover & {
    filter: drop-shadow(var(--clr-pop-lt) 0px 0px 5px);
  }
}

.site-header nav {
  display: flex;
  position: relative;
  align-items: center;
  font-weight: 600;
  background-color: var(--clr-frame-lt);
  color: var(--clr-brand);
  padding-right: 20px;
}

.site-header nav > ul {
  flex: 1 1 auto;
  list-style: none;
}

.site-header nav li {
  display: inline-block;
}

.site-header nav li > * {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 7px 15px;
  text-align: center;
  transition: all 0.2s ease-out;

  &:is(:hover, :active) {
    background-color: #ffffff20;
    text-shadow: #000 1px 1px 3px;
    filter: brightness(125%) saturate(125%);
  }
}

.site-header nav > ul > li:first-child > * {
  padding-left: 20px;
}

.user-acknowledgment > span {
  font-size: 1rem;
  font-family: var(--font-utility);
  font-weight: 300;
}

.user-acknowledgment > span:first-child {
  color: #fff;
}

.user-acknowledgment > span:last-child {
  color: var(--clr-brand);
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.2s ease-out;

  &:hover {
    filter: brightness(125%) saturate(125%);
  }
}
