/* /client/src/css/utility.css */

a:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible,
button:focus-visible {
  outline: none;
  box-shadow: 0 0 2px 3px color-mix(in srgb, var(--clr-brand2-lt), transparent 30%);
  transition: box-shadow 0.2s ease-in-out;
}
