form {
  display: flex;
  width: fit-content;
  flex-direction: column;
  row-gap: 0.5rem;
  padding-bottom: 2rem;
}

form :is(input, button, select) {
  width: 40ch;
  padding: .4rem 1.5ch;
  border-radius: var(--border-rad-max);
}

form :is(input, select) {
  border: none;
  background: var(--clr-surface2);
  box-shadow: inset #000000a0 1px 1px 2px;
}

form > button {
  display: flex;
  background: var(--clr-brand1);
  font-weight: 600;
  padding: .5rem 1ch;

  &:active {
    transform: translateY(2px);
  }
}

.input-wrapper {
  position: relative;
  display: inline-block;
  width:fit-content;
  margin-bottom: 1rem;
}

.input-wrapper::after {
  position: absolute;
  content: attr(data-error);
  color: var(--clr-brand2);
  font-size: 1rem;
  display: inline-block;
  margin-top: 0.5rem;
  margin-left: 1ch;
  white-space: nowrap;
}
