.product-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 0.5rem;
  position: relative;
  width: var(--width-card);
  height: 100%;
  border-radius: var(--border-radius-min);
  cursor: pointer;
  padding: var(--margin-card);
  box-shadow: #00000020 0px 0px 10px, #00000010 0px 0px 0px 1px;
  transition: all ease 0.15s;

  &:hover {
    box-shadow: #00000040 2px 2px 10px, #00000050 0px 0px 15px, #00000010 0px 0px 0px 1px;
    transform: scale(1.015);
  }
}

.content__section--display .product-card {
  height: fit-content;
  margin-top: var(--margin-section-mid);
}