/* /client/src/pages/sidebar.css */

.sidebar {
  padding: 1rem 0 2rem;
}

.sidebar__section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.sidebar__section {
  margin-bottom: var(--margin-section-min);
}

.sidebar__section > * {
  width: fit-content;
}

.sidebar__header {
  color: var(--color-brand2);
  margin-bottom: 1rem;
}

.sidebar__header > h1 {
  font-size: 2.6rem;
  font-weight: 700;
}

.sidebar__header > h2 {
  font-size: 1.8rem;
}

.sidebar__ui-text {
  font-weight: 500;
  padding: 0.5rem 0;
  text-align: center;
  margin: 1rem 0 var(--margin-section-min);
  border-top: var(--border-strong);
  border-bottom: var(--border-strong);
}

.sidebar__list {
  display: block;
  list-style: none;
  width: fit-content;
}

.sidebar__list-item {
  color: var(--color-frame-med);
  display: block;
  font-weight: 600;
  width: fit-content;
  padding: 2px 4px;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.2s ease-out;

  &:hover {
    color: var(--color-brand2-light);
    background: hsl(from var(--color-brand1) h s l / 0.5);
  }

  &.sidebar__list-item--selected {
    color: var(--color-brand2);
    font-weight: 600;
    background: hsl(from var(--color-brand1) h s l / 0.7);
  }
}