/* /client/src/pages/product/product.css */

.page--product {
  width: 100vw;
  height: 100%;
}

.page--product .product-display__container {
  display: grid;
  justify-content: center;
  padding: 2rem 0;
  width: 100%;
}

.page--product .product-display__inner {
  display: grid;
  grid-auto-flow: column;
  column-gap: 3rem;
  justify-items: start;
  width: max-content;
}

.page--product .product-display__image-wrapper img {
  max-width: 100%;
}

.product-page__section--product-info {
  width: max-content;
  overflow: clip;
  align-self: center;
}

.product-page__header {
  color: var(--clr-brand2);
  margin-bottom: var(--margin-para);
}

.product-page__product-info--origin {
  margin-bottom: var(--margin-sec-mn);
}

.product-page__product-info--description {
  white-space: pre-line;
  max-width: 42ch;
  margin-bottom: var(--margin-sec-mn);
  line-height: 1.3;
}

.product-page__product-info--amount {
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--clr-brand2);
}

.product-page__product-info--package-type,
.product-page__product-info--package-size {
  font-weight: 500;
}
