/* /client/src/pages/home/home.css */

.main-content__container--home {
  display: grid;
  width: 100%;
  background: var(--clr-surface1);
  grid-template-columns: repeat(auto-fill, var(--wd-card));
  gap: var(--margin-sec-mn) 2.5rem;
  justify-content: center;
}

/* sidebar */

.sidebar__list {
  display: block;
  list-style: none;
  width: fit-content;
}

.sidebar__list-item {
  color: var(--clr-frame-md);
  display: block;
  font-weight: 600;
  width: fit-content;
  padding: 2px 4px;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.2s ease-out;

  &:hover {
    color: var(--clr-brand2-lt);
    background: hsl(from var(--clr-brand1) h s l / 0.5);
  }

  &.sidebar__list-item--selected {
    color: var(--clr-brand2);
    font-weight: 600;
    background: hsl(from var(--clr-brand1) h s l / 0.7);
  }
}

/* product card */

.product-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 0.5rem;
  position: relative;
  width: var(--wd-card);
  height: 100%;
  border-radius: var(--border-rad-min);
  cursor: pointer;
  padding: var(--margin-card);
  box-shadow: #00000020 0px 0px 10px, #00000010 0px 0px 0px 1px;
  transition: all ease 0.15s;

  &:hover {
    box-shadow: #00000040 2px 2px 10px, #00000050 0px 0px 15px, #00000010 0px 0px 0px 1px;
    transform: scale(1.015);
  }
}

.product-card__section--prpoduct-display {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.product-card__image-wrapper {
  margin: unset;
  background: var(--clr-surface1);
  width: var(--wd-card-content);
  height: var(--wd-card-content);
  border-radius: var(--border-rad-min);

  > .product-card__image {
    width: 20px;
  }
}

.product-card__header {
  color: var(--clr-brand2);
  margin: 0.5rem 0 0.25rem;

  > h2 {
    font-size: 1.4rem;
  }
}

.product-card__product-info--origin {
  font-size: 1rem;
}

.product-card__product-info--price {
  margin: 1rem 0;
}

.product-card__product-info--amount {
  color: var(--clr-frame);
  font-size: 1.2rem;
  font-weight: 600;
}

.product-card__product-info--papckage-type {
  font-family: var(--font-utility);
  color: var(--clr-frame-dk);
  font-size: 1rem;
}

.product-card .quantity-adjust__container {
  display: flex;
  align-items: center;
  height: fit-content;
  border-radius: var(--border-rad-max);
  border: var(--border-brand2);
  background: var(--clr-brand1);
  margin: auto 0 0;
  padding: 3px;
  cursor: default;
  box-shadow: var(--shadow-btn-qa);
  overflow: hidden;
  justify-content: space-between;
  width: calc(var(--wd-card-content) * 0.9);
  transition: width 0.25s ease-out;

  &.quantity-adjust__container--collapsed {
    justify-content: center;
    width: 40px;
  }
}

.product-card .quantity-adjust__button {
  background: var(--clr-brand1);
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-rad-max);
  cursor: pointer;
  transition: all 0.1s ease-out;

  svg {
    color: color-mix(in lch, var(--clr-brand2) 80%, var(--clr-brand1));
    transition: all 0.3s ease-out;
  }

  &:active {
    transform: scale(96%);
  }

  &:hover {
    background: color-mix(in oklch, var(--clr-brand1) 60%, var(--clr-surface1));
    box-shadow: var(--shadow-btn-qa);

    svg {
      color: var(--clr-brand2);
    }

    &:active {
      box-shadow: none;
    }
  }
}

.product-card .quantity-adjust__tally {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 5ch;
  border-radius: var(--border-rad-max);
  text-align: center;
  font-size: 1rem;
  background: var(--clr-surface1);
  box-shadow: inset 1px 1px 5px #ccc, 0 0 1px var(--clr-brand2);
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}
