/* /client/src/components/site-header/header-tally.css */

.header__tally {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: var(--margin-sec-mn);
}

.header__tally .tally__container {
  position: relative;
  display: block;
  width: 100%;
  z-index: 50;
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
  transition: all 0.2s ease-out;

  @starting-style {
    opacity: 0;
    transform: translateY(-2rem);
    filter: blur(10px);
  }

  img {
    transition: filter 0.2s ease-out;
  }

  &:hover {
    filter: brightness(125%) saturate(125%);
    transform: scale(105%);

    img {
      filter: drop-shadow(var(--clr-brand2-lt) 0px 0px 5px);
    }
  }

  &::after {
    display: grid;
    place-items: center;
    content: attr(data-count);
    position: absolute;
    inset: 0;
    transform: translateY(0.4rem);
    color: var(--clr-frame-dk);
    font-size: 1rem;
    font-weight: 700;
    pointer-events: none;
  }

  &.tally__container--hidden {
    display: none;
    opacity: 0;
    filter: blur(10px);
    transform: translateY(-2rem);
    transition-behavior: allow-discrete;
    transition-property: display opacity filter transform;
    transition-duration: 0.4s;
  }
}
