/* //client/src/components/site-header/NavBar.css */

.nav-bar {
  display: flex;
  flex: 1 1 auto;
  position: relative;
  align-items: center;
  font-weight: 600;
  background: var(--clr-frame);
  color: var(--clr-brand1);
  padding-right: 20px;
}

.nav-bar__list {
  width: fit-content;
  list-style: none;
}

.nav-bar__container--link {
  display: inline-block;
}

.nav-bar__link {
  font-family: var(--font-utility);
  display: flex;
  align-items: center;
  height: 100%;
  padding: 7px 15px;
  text-align: center;
  transition: all 0.2s ease-out;

  &:hover {
    background: var(--clr-frame-md);
    color: var(--clr-brand1-lt);
  }

  &.active {
    background: oklch(from var(--clr-frame-md) calc(l * 0.87) c h);
    color: var(--clr-brand1-lt);
  }
}