/* //client/src/components/site-header/site-header.css */

.header {
  font-family: var(--font-heading);
  box-shadow: var(--shadow-page);
  z-index: 20;
}

.header__row--upper,
.header__row--lower {
  display: flex;
  flex: 1 1 auto;
}

.header__row--upper {
  background: var(--clr-frame-dk);
  padding: 10px 20px;
}

.header__row--lower {
  background: var(--clr-frame);
  padding: 0 20px;
}

.header__section--banner {
  display: flex;
  flex: 1 1 auto;
}

.header__container--banner {
  display: inline-block;
}

.header__section--user-auth {
  display: flex;
  align-items: center;
  width: max-content;
  color: var(--clr-surface1);
  font-size: 1rem;
  font-family: var(--font-utility);
  font-weight: 400;
}

.button--user-auth {
  font-size: 1rem;
  color: var(--clr-brand1);
  background: none;
  border: none;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.2s ease-out;

  &:hover {
    color: var(--clr-brand1-lt);
  }
}
