/* /client/src/css/content.css */

.content {
  width: 100%;
  background: var(--clr-surface1);
  scrollbar-width: thin;
  scroll-behavior: smooth;
  padding: 1rem 0 2rem;
}

.content__container--home {
  display: grid;
  width: 100%;
  background: var(--clr-surface1);
  grid-template-columns: repeat(auto-fill, var(--wd-card));
  gap: var(--margin-sec-mn) 2.5rem;
  justify-content: center;
}

.content__section {
  display: block;
  margin: 0 auto 2rem;
}

.content__section--root {
  max-width: var(--wd-content-sec);
}

.content__header {
  color: var(--clr-frame-md);
  margin-bottom: var(--margin-sec-mn);
}

.content__header--root {
  color: var(--clr-brand2);
}

.content__intro:has(.content__ui-text) {
  margin-bottom: 2.5rem;
}

.content__ui-text {
  padding: 0.75rem 1ch;
  border-top: var(--border);
  border-bottom: var(--border);
}

.content__ui-text > *:not(:last-of-type) {
  margin-block-end: 1rem;
}

.content a {
  display: block;
  color: var(--clr-brand2);
  text-decoration: underline;
  margin-top: 1rem;

  &:hover {
    font-weight: 600;
    filter: brightness(0.8);
  }
}

button:not(.quantity-adjust__button, .button--user-auth, .button--text),
.sidebar:not(.sidebar--product) button {
  border: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--clr-brand2);
  color: var(--clr-surface1);
  padding: 0.5rem 0;
  width: 20ch;
  margin: 1rem auto 1rem;
  border-radius: var(--border-rad-max);
  cursor: pointer;
  font-weight: 600;
  box-shadow: var(--shadow-btn);
  transition: all 0.2s ease-out;

  &:hover {
    filter: brightness(1.2);
  }

  &:active {
    transform: translateY(2px);
    box-shadow: var(--shadow-btn-active);
  }

  &:disabled {
    background: var(--clr-frame-md);
    cursor: not-allowed;
  }
}
