/* /client/src/css/mapped-table/MappedTable.css */

.table--mapped {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-top: var(--border-brand2-strong);
  border-bottom: var(--border-brand2-strong);

  & :is(td, tr) {
    border: none;
  }
}

.table__row--body:hover a {
  color: var(--color-brand2);
}

.table--mapped td a {
  margin-top: 0;
  width: fit-content;
  color: var(--color-frame-dark);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.table--cart td a {
  margin-left: 1.5ch;
}

.table--user-orders td a {
  margin-inline: auto;
}

.table--mapped .table__head {
  border-bottom: var(--border-brand2-strong);
}

.table--mapped .table__row--head {
  font-size: 1.2rem;
  height: 2rem;
  color: var(--color-text-main);
  background-color: var(--color-surface1);
}

.table--mapped .table__row--body {
  height: 2rem;

  &:nth-child(odd) {
    background: var(--color-surface2);
  }

  &:not(:last-child) {
    border-bottom: var(--border);
  }

  &:hover > .table__cell--name,
  &:hover > .table__cell--date {
    font-weight: 600;
    color: var(--color-brand2);
    transition: all 0.3s ease;
  }
}

.table--mapped :is(
  .table__cell--price,
  .table__cell--quantity,
  .table__cell--total,
  .table__cell--status
) {
  text-align: center;
}

.table--mapped .price__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 25%;

  & span:first-child {
    flex: 1 1 100%;
  }

  & span:last-child {
    flex: 0 0 100%;
    text-align: end;
  }
}

.table--cart .table__row--head {
  > th:first-child {
    text-align: start;
    text-indent: 1ch;
  }

  > th:not(:first-child) {
    text-align: center;
  }
}

.table__column--image {
  width: 5%;
}

.table__column--name {
  width: 35%;
}

.table__column--price,
.table__column--total,
.table__column--quantity {
  width: 20%;
}

.table__column--reset {
  width: 5%;
}

.table--order .table__cell {
  width: 25%;
  text-align: center;
}

.table--order .table__cell--status {
  text-transform: capitalize;
}
