/* client/src/components/product-display/product-image.css */

.product-display__image-wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  max-width: 400px;
  max-height: 400px;
  aspect-ratio: 1 / 1;

  > .product-display__image {
    display: inline-block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
  }
}
