/* client/src/components/product-display/product-origin.css */

.product-card__product-info--origin,
.product-page__product-info--origin {
  display: flex;
  height: 1rem;
  column-gap: 0.5rem;
}

.product-card__country--canada,
.product-page__country--canada {
  font-weight: 600;
  color: #cd0102;
}

.product-card__flag,
.product-page__flag {
  font-size: 1rem;
}
