:root {
  /*colours*/
  --clr-brand: hsl(36, 84%, 56%);
  --clr-pop: hsl(348, 100%, 28%);
  --clr-pop-lt: hsl(348, 100%, 50%);
  --clr-frame-lt: hsl(214, 16%, 20%);
  --clr-frame-dk: hsl(214, 16%, 8%);
  --clr-base: hsl(36, 84%, 94%);
  --clr-util-lt: #ffffff;
  --clr-util-dk: #000000;

  /*fonts*/
  --font-brand: "Fugaz One";
  --font-heading: "Epilogue";
  --font-utility: "Avenir Next";

  /* common patterns */
  --wd-card: 180px;
  --pd-card-ext: 10px;
  --wd-card-img: calc(var(--wd-card) - (2 * var(--pd-card-ext)));
}

/* TODO: Delete outline colours before finalizing */
.blue {
  border: solid blue;
}

.purple {
  border: solid purple;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  line-height: 1;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

body {
  background: var(--clr-base);
  font-family: var(--font-utility);
  color: var(--clr-util-dk);
  font-size: 16px;
  overflow-x: clip;
}

a:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible,
button:focus-visible {
  outline: none;
  box-shadow: 0 0 2px 3px color-mix(in srgb, var(--clr-pop-lt), transparent 30%);
  transition: box-shadow 0.2s ease-in-out;
}
