:root {
  /*base colours*/
  --primary: hsl(348, 100%, 28%);
  --secondary: hsl(36, 85%, 55%);
  --contrast: hsla(215, 18%, 15%);

  /*dark versions*/
  --primary-dk: hsl(348, 100%, 20%);
  --secondary-dk: hsl(36, 85%, 40%);
  --contrast-dk: hsla(215, 15%, 8%);

  /*light versions*/
  --primary-lt: hsl(348, 100%, 55%);
  --secondary-lt: hsl(36, 85%, 80%);

  /*neutrals*/
  --offwhite: color-mix(in hsl, var(--secondary) 20%, white);

  /*site fonts*/
  --font-brand: "Fugaz One";
  --font-heading: "Epilogue";
  --font-utility: "Avenir Next";
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  line-height: 1.15;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

body {
  background: var(--offwhite);
  font-family: var(--font-utility);
  font-size: 16px;
  position: relative;
  overflow-x: hidden;
}

h1 {
  font-size: 2.62em;
}

h2 {
  font-size: 1.62em;
}

h3 {
  font-size: 1.31em;
}

.flex.row {
  display: flex;
  flex-direction: row;
}

.flex.col {
  display: flex;
  flex-direction: column;
}

.flex.wrap {
  flex-wrap: wrap;
}

.stretch-start > :first-child {
  flex: 1;
}

.stretch-end > :last-child {
  flex: 0 0 max-content;
}

#header-upper {
  background-color: var(--contrast-dk);
  padding: 10px 15px;
}

#header-lower {
  background-color: var(--contrast);
  padding: 10px 15px;
  font-family: var(--font-heading);
  color: var(--secondary);
  text-decoration: none;
  font-weight: 600;
  height: fit-content;
  align-items: center;
}

#title-container > :first-child {
  column-gap: 10px;
  text-decoration: none;
  width: fit-content;
}

#title-container img {
  width: 90px;
  height: auto;
}

#title-container > hgroup {
  justify-content: center;
  gap: 0rem;
}

#title-container h1 {
  font-size: 4.25rem;
  font-family: var(--font-brand);
  color: var(--secondary);
  font-weight: 700;
  line-height: 0.95;
  margin-bottom: -0.07em;
}

#title-container p {
  font-family: var(--font-heading);
  color: var(--offwhite);
  font-size: 0.8rem;
  font-weight: 500;
}

#cart-container {
  align-items: center;
  padding: 0px 10px;
}

.hov {
  transition: filter 0.2s ease-out, transform 0.2s ease-out;
}

.brighten:hover {
  filter: brightness(130%) saturate(120%);
}

.scale-up-sm:hover {
  transform: scale(105%);
}

.scale-up-lg:hover {
  transform: scale(101%);
}

#nav-container,
#auth-container {
  column-gap: 30px;
  height: inherit;
  align-items: center;
}

.nav-bar-link {
  font-family: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  color: inherit;
}

#item-list-grid {
  display: grid;
  position: relative;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". item-list .";
  width: 100%;
  height: 1vh;
  overflow: hidden;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 180px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.grow-with-ease {
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 6px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  transition: box-shadow ease 0.4s, transform ease 0.4s, filter ease 0.4s,
    background-color ease 0.4s;
}

.grow-with-ease:hover {
  box-shadow: rgba(0, 0, 0, 0.8) 2px 2px 10px, rgba(0, 0, 0, 0.2) 0px 0px 0px 1px;
  transform: scale(1.05);
}

.blue {
  border: solid blue;
}
