:root {
  /*base colours*/
  --primary: hsl(36, 85%, 55%);
  --secondary: hsl(348, 100%, 28%);
  --contrast: hsla(215, 18%, 15%);

  /*dark versions*/
  --primary-dk: hsl(36, 85%, 40%);
  --secondary-dk: hsl(348, 100%, 20%);
  --contrast-dk: hsla(215, 15%, 8%);

  /*light versions*/
  --primary-lt: hsl(36, 85%, 80%);
  --secondary-lt: hsl(348, 100%, 55%);

  /*neutrals*/
  --offwhite-lt: hsl(36, 85%, 97%);
  --offwhite-dk: hsl(36, 85%, 90%);

  /*site fonts*/
  --font-brand: "Fugaz One";
  --font-heading: "Epilogue";
  --font-utility: "Avenir Next";
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  line-height: 1.15;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

body {
  background: var(--offwhite-dk);
  font-family: var(--font-utility);
  font-size: 16px;
  position: relative;
  overflow-x: hidden;
}

h1 {
  font-size: 2.62em;
  font-family: var(--font-heading);
}

h2,
.card-price {
  font-size: 1.2em;
  font-family: var(--font-heading);
}

h3 {
  font-size: 1.1em;
  font-family: var(--font-heading);
}

.flex.row {
  display: flex;
  flex-direction: row;
}

.flex.col {
  display: flex;
  flex-direction: column;
}

.flex.wrap {
  flex-wrap: wrap;
}

.stretch-start > :first-child {
  flex: 1;
}

.stretch-end > :last-child {
  flex: 0 0 max-content;
}

#header-upper {
  background-color: var(--contrast-dk);
  padding: 10px 20px;
}

#header-lower {
  background-color: var(--contrast);
  height: fit-content;
  padding: 0px 15px;
}

.header-wrapper {
  position: relative;
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.3);
  z-index: 10000;
}

#title-section > :first-child {
  column-gap: 10px;
  text-decoration: none;
  width: fit-content;
}

#title-section img {
  width: 90px;
  height: auto;
}

#title-section > hgroup {
  justify-content: center;
  gap: 0rem;
}

#title-section h1 {
  font-size: 4.25rem;
  font-family: var(--font-brand);
  color: var(--primary);
  font-weight: 700;
  line-height: 0.95;
  margin-bottom: -0.07em;
}

#title-section p {
  font-family: var(--font-heading);
  color: var(--offwhite-lt);
  font-size: 0.8rem;
  font-weight: 500;
}

#cart-section {
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

#cart-wrapper {
  align-items: center;
  position: relative;
  width: fit-content;
  height: fit-content;
}

.item-count {
  position: absolute;
  top: -12%;
  right: 23.5%;
  display: flex;
  font-weight: 600;
  height: 1.9em;
  width: 1.9em;
  font-family: var(--font-utility);
  font-size: 0.8rem;
  color: var(--offwhite-lt);
  background-color: var(--secondary);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.item-count.active {
  opacity: 1;
}

.hov {
  transition: filter 0.2s ease-out, transform 0.2s ease-out;
}

.brighten:hover {
  filter: brightness(130%) saturate(120%);
}

.scale-up-sm:hover {
  transform: scale(105%);
}

.scale-up-lg:hover {
  transform: scale(101%);
}

#nav-bar {
  background-color: var(--contrast);
}

.nav-bar-link {
  height: fit-content;
  width: fit-content;
  padding: 7px 15px;
  font-family: var(--font-heading);
  font-weight: 600;
  text-decoration: none;
  color: var(--primary);
  background-color: var(--contrast);
}

.nav-bar-link.active {
  filter: brightness(130%) saturate(120%);
}

.nav-bar-link:hover {
  text-shadow: var(--secondary-lt) 0px 0px 2px;
}

main {
  display: flex;
  min-height: 100vh;
}

.content {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  min-width: 400px;
  background-color: var(--offwhite-lt);
  padding: 30px;
}

.sidebar {
  display: flex;
  flex: 0 1 200px;
  background-color: var(--offwhite);
}

.product-grid {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(auto-fill, 180px);
  gap: 30px;
  justify-content: center;
}

.product-card {
  width: 180px;
  height: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.card-image-wrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image-wrapper > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.grow-with-ease {
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 6px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  transition: box-shadow ease 0.2s, transform ease 0.2s, filter ease 0.2s,
    background-color ease 0.2s;
}

.grow-with-ease:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 10px, rgba(0, 0, 0, 0.2) 0px 0px 0px 1px;
  transform: scale(1.03);
}

.blue {
  border: solid blue;
}
