:root {
  /*base colours*/
  --primary: hsl(348, 100%, 28%);
  --secondary: hsl(36, 85%, 55%);
  --contrast: hsla(348, 5%, 12%);

  /*dark versions*/
  --primary-dk: hsl(348, 100%, 20%);
  --secondary-dk: hsl(36, 85%, 40%);
  --contrast-dk: hsla(348, 5%, 5%);

  /*light versions*/
  --primary-lt: color-mix(in hsl, var(--primary) 65%, white);
  --secondary-lt: color-mix(in hsl, var(--secondary) 65%, white);

  /*neutrals*/
  --offwhite: color-mix(in hsl, var(--secondary) 20%, white);

  /*site fonts*/
  --font-brand: "Fugaz One";
  --font-heading: "Epilogue";
  --font-utility: "Avenir Next";
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  line-height: 1.15;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

body {
  background: var(--offwhite);
  font-family: var(--font-utility);
  font-size: 16px;
  position: relative;
  overflow-x: hidden;
}

h1 {
  font-size: 2.62em;
}

h2 {
  font-size: 1.62em;
}

h3 {
  font-size: 1.31em;
}

.flex.row {
  display: flex;
  flex-direction: row;
}

.flex.col {
  display: flex;
  flex-direction: column;
}

.flex.wrap {
  flex-wrap: wrap;
}

.stretch-start > :first-child {
  flex: 1;
}

.stretch-end > :last-child {
  flex: 0 0 max-content;
}

#header-upper {
  background-color: var(--contrast-dk);
  padding: 15px 15px 8px;
}

#header-lower {
  background-color: var(--contrast);
  padding: 7px 15px 15px;
}

#site-title > :first-child {
  column-gap: 10px;
  text-decoration: none;
  width: fit-content;
}

#site-title img {
  width: 90px;
  height: auto;
}

#site-title > hgroup {
  justify-content: center;
}

#site-title h1 {
  font-size: 4.25rem;
  font-family: var(--font-brand);
  color: var(--secondary);
  font-weight: 700;
  line-height: 0.8;
}

#site-title p {
  font-family: var(--font-heading);
  color: var(--offwhite);
  font-size: 0.8rem;
  font-weight: 500;
}

#item-list-grid {
  display: grid;
  position: relative;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". item-list .";
  width: 100%;
  height: 1vh;
  overflow: hidden;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 180px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.grow-with-ease {
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 6px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  transition: box-shadow ease 0.4s, transform ease 0.4s, filter ease 0.4s,
    background-color ease 0.4s;
}

.grow-with-ease:hover {
  box-shadow: rgba(0, 0, 0, 0.8) 2px 2px 10px, rgba(0, 0, 0, 0.2) 0px 0px 0px 1px;
  transform: scale(1.05);
}

.blue {
  border: solid blue;
}
