main {
  min-height: 100%;
  display: grid;
  grid-template-columns: 28ch 1fr;
}

.item-grid {
  display: grid;
  background-color: #fff;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(auto-fill, var(--wd-card));
  row-gap: 25px;
  column-gap: 20px;
  justify-content: center;
}

.sort-filter {
  margin: 0px auto;
}

.side-bar h1 {
  color: var(--clr-pop);
}

.side-bar div {
  width: fit-content;
  margin: 2rem auto;
}

.side-bar h2 {
  font-size: 1.2rem;
  color: var(--clr-pop);
  margin-block-end: 0.5rem;
}

.side-bar ul {
  display: block;
  list-style: none;
  width: fit-content;
}

.side-bar li {
  display: block;
  width: fit-content;
  padding: 2px 4px;
  text-transform: capitalize;
}

.side-bar li.active {
  font-weight: 600;
  background: var(--clr-brand);
  transition: all 0.2s ease-out;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: clip;
  background-color: #fff;
  width: var(--wd-card);
  height: 100%;
  border-radius: 10px;
  padding: var(--pd-card-ext);
}

.product-card .img-wrapper-sq {
  background-color: #fff;
  width: var(--wd-card-img);
  height: var(--wd-card-img);
}

.product-card .info {
  display: block;
}

.product-card hgroup {
  margin: 15px 0px;
}

.product-card hgroup > h2 {
  font-size: 1.1rem;
}

.product-card .price > * {
  display: inline-block;
}

.product-card .price > span:first-child {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--clr-pop);
}

.product-card hgroup > p,
.product-card .price > span:nth-child(2) {
  font-family: var(--font-utility);
  font-size: 0.85rem;
  color: var(--clr-util-dk);
  line-height: 1.1;
}

.product-card .price > span:nth-child(3) {
  font-size: 0.6rem;
}
